In [1]:
import numpy as np
import pandas as pd
import pytz
from datetime import datetime, timedelta
from pandas.tseries.offsets import Hour, Minute, Second
from pandas.tseries.offsets import Day, MonthEnd

### Basic date manipulations in Python

Python supports a datetime module which has several functionalitites:
1. Datetime objects representing a specific date in time with years, months and days
2. Addition and substraction of datetime objects
3. Format datetime objects based on different format specification

Pandas supports handling of null value timestampts with its NaT which stands for Not a Time.

In [2]:
current_date = datetime.now()
current_date

datetime.datetime(2023, 10, 6, 22, 28, 56, 178894)

In [3]:
current_date.year, current_date.month, current_date.day

(2023, 10, 6)

In [4]:
delta = datetime(2019, 1, 7) - datetime(2003, 10, 2, 8, 15)
delta

datetime.timedelta(days=5575, seconds=56700)

In [5]:
delta = delta + timedelta(10)
delta

datetime.timedelta(days=5585, seconds=56700)

In [6]:
stamp = datetime(2011,1,3)
print(str(stamp))

2011-01-03 00:00:00

In [7]:
stamp = stamp.strftime("%D")
stamp

'01/03/11'

In [8]:
value = "2011-01-03"
datetime.strptime(value, "%Y-%m-%d")

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
dates_arr = ["2015-03-18", "1996-07-03", None]
datetime_index = pd.to_datetime(dates_arr)
datetime_index

DatetimeIndex(['2015-03-18', '1996-07-03', 'NaT'], dtype='datetime64[ns]', freq=None)

### Time Series in Pandas

Times series are essentially an a Pandas series with its index set to the timestamps. 

Timestamps show the specific value of something in that time. For now we will just fill the values with random ones

In [10]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), index = dates)
ts

2011-01-02   -1.107224
2011-01-05   -0.944254
2011-01-07   -1.755014
2011-01-08   -0.342030
2011-01-10   -1.300317
2011-01-12    0.074881
dtype: float64

In [11]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

The same things for regular Pandas series apply here, operations are broadcast and we can also select a value by using the date as an index in our timeseries.

In [12]:
ts = ts*2
ts

2011-01-02   -2.214448
2011-01-05   -1.888508
2011-01-07   -3.510028
2011-01-08   -0.684059
2011-01-10   -2.600635
2011-01-12    0.149761
dtype: float64

In [13]:
ts["2011-01-12"]

0.1497611738133539

Something more interesting is when we are manipulating a big timeseries. We will use ```pd.date_range``` for the creation of our timeseries. Let's demonstrate selecting months and slicing.

In [14]:
longer_ts = pd.Series(np.random.standard_normal(1000),index = pd.date_range("2000-01-01", periods = 1000))

In [15]:
longer_ts["2001-03-04" : "2002-03-04"]

2001-03-04   -0.420855
2001-03-05   -0.142497
2001-03-06   -1.892911
2001-03-07    0.142767
2001-03-08    2.164249
                ...
2002-02-28   -0.413566
2002-03-01   -1.544279
2002-03-02    0.072988
2002-03-03   -0.381892
2002-03-04   -1.558274
Freq: D, Length: 366, dtype: float64

In [16]:
longer_ts[datetime(2000,3,4): datetime(2002,1,1)]

2000-03-04    0.362740
2000-03-05    0.165629
2000-03-06    0.207052
2000-03-07   -0.599364
2000-03-08    0.139507
                ...
2001-12-28   -0.534381
2001-12-29    0.063169
2001-12-30    0.223423
2001-12-31   -0.198698
2002-01-01   -1.497574
Freq: D, Length: 669, dtype: float64

We can also slice with timestamps that are not present in our timeseries.

In [17]:
ts

2011-01-02   -2.214448
2011-01-05   -1.888508
2011-01-07   -3.510028
2011-01-08   -0.684059
2011-01-10   -2.600635
2011-01-12    0.149761
dtype: float64

In [18]:
ts["2011-01-06":"2011-01-11"]

2011-01-07   -3.510028
2011-01-08   -0.684059
2011-01-10   -2.600635
dtype: float64

In [19]:
ts.truncate(after = "2011-01-04") #truncate based on the date provided, here we select everything after the provided date

2011-01-02   -2.214448
dtype: float64

In [20]:
dates = pd.date_range("2000-01-01", periods = 100, freq = "W-WED")
df_towns = pd.DataFrame(np.random.standard_normal((100,4)), index = dates, columns = ["Tokyo", "Montreal", "Madrid", "London"])
df_towns

               Tokyo  Montreal    Madrid    London
2000-01-05  0.988876 -0.466676  1.361497  1.403123
2000-01-12  1.322552  0.771559 -0.885974 -1.514634
2000-01-19 -0.636866 -1.555296  0.901979 -1.281472
2000-01-26 -1.036680 -0.447214  0.061538 -0.689968
2000-02-02 -0.776900 -0.365856  0.898216 -0.809633
...              ...       ...       ...       ...
2001-10-31 -1.469272  0.774804 -0.473844  0.995257
2001-11-07 -0.821695  0.223125  0.487051  2.230770
2001-11-14  1.111050  1.423851  1.114752  0.631592
2001-11-21 -0.852355  0.365543 -1.923623 -0.960653
2001-11-28 -1.498540  0.695622 -0.305248  1.217776

[100 rows x 4 columns]

In [21]:
df_towns.loc["2001-10-31"]

Tokyo      -1.469272
Montreal    0.774804
Madrid     -0.473844
London      0.995257
Name: 2001-10-31 00:00:00, dtype: float64

### Working with duplicates

In [22]:
dates = pd.DatetimeIndex(["2000-01-01", "2000-01-02", "2000-01-02","2000-01-02", "2000-01-03"])
duplicates = pd.Series(data = [1,2,3,3,4], index = dates)
duplicates

2000-01-01    1
2000-01-02    2
2000-01-02    3
2000-01-02    3
2000-01-03    4
dtype: int64

In [23]:
duplicates["2000-01-02"]

2000-01-02    2
2000-01-02    3
2000-01-02    3
dtype: int64

In [24]:
duplicates.groupby(level = 0).mean()

2000-01-01    1.000000
2000-01-02    2.666667
2000-01-03    4.000000
dtype: float64

### Working with frequencies
When working with time series, we have many options for frequencies. For example once a week, every hour or different frequencies. Pandas has a ```resample``` method for this purpose.

In [25]:
ts

2011-01-02   -2.214448
2011-01-05   -1.888508
2011-01-07   -3.510028
2011-01-08   -0.684059
2011-01-10   -2.600635
2011-01-12    0.149761
dtype: float64

In [26]:
ts = ts.resample("D") #parameter indicates how to resample
ts

```pd.date_range``` can be used to generate large sequences of data starting or ending on a particular date. Also these periods can be a specific number of days or other.

In [27]:
dates = pd.date_range("2016-12-12", "2017-12-12")
dates

DatetimeIndex(['2016-12-12', '2016-12-13', '2016-12-14', '2016-12-15',
               '2016-12-16', '2016-12-17', '2016-12-18', '2016-12-19',
               '2016-12-20', '2016-12-21',
               ...
               '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12'],
              dtype='datetime64[ns]', length=366, freq='D')

In [28]:
date_quarterly = pd.date_range("2016-12-01", "2017-12-12", freq = "Q-JAN")
date_quarterly

DatetimeIndex(['2017-01-31', '2017-04-30', '2017-07-31', '2017-10-31'], dtype='datetime64[ns]', freq='Q-JAN')

In [29]:
date_20days = pd.date_range("2018-01-03 08:46:21", periods = 20, normalize = True)
date_20days

DatetimeIndex(['2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12', '2018-01-13', '2018-01-14',
               '2018-01-15', '2018-01-16', '2018-01-17', '2018-01-18',
               '2018-01-19', '2018-01-20', '2018-01-21', '2018-01-22'],
              dtype='datetime64[ns]', freq='D')

In [30]:
hour = Hour()
minute = Minute()
second = Second()
fifteen_seconds = Second(15)
high_freq = pd.date_range("2023-01-01", "2023-01-01 23:59",freq = fifteen_seconds)
high_freq

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 00:00:15',
               '2023-01-01 00:00:30', '2023-01-01 00:00:45',
               '2023-01-01 00:01:00', '2023-01-01 00:01:15',
               '2023-01-01 00:01:30', '2023-01-01 00:01:45',
               '2023-01-01 00:02:00', '2023-01-01 00:02:15',
               ...
               '2023-01-01 23:56:45', '2023-01-01 23:57:00',
               '2023-01-01 23:57:15', '2023-01-01 23:57:30',
               '2023-01-01 23:57:45', '2023-01-01 23:58:00',
               '2023-01-01 23:58:15', '2023-01-01 23:58:30',
               '2023-01-01 23:58:45', '2023-01-01 23:59:00'],
              dtype='datetime64[ns]', length=5757, freq='15S')

In [31]:
print("Shifting provides us with a way to move data backwards or forwards in time.")

Shifting provides us with a way to move data backwards or forwards in time.

In [32]:
shifting_example = pd.date_range("2015-01-01", "2015-01-05")
shifting_example

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [33]:
shifting_example.shift(5)

DatetimeIndex(['2015-01-06', '2015-01-07', '2015-01-08', '2015-01-09',
               '2015-01-10'],
              dtype='datetime64[ns]', freq='D')

In [34]:
shifting_example.shift(-5)

DatetimeIndex(['2014-12-27', '2014-12-28', '2014-12-29', '2014-12-30',
               '2014-12-31'],
              dtype='datetime64[ns]', freq='D')

In [35]:
series_shifting = pd.Series([1,2,3,4,5], index = shifting_example)
series_shifting

2015-01-01    1
2015-01-02    2
2015-01-03    3
2015-01-04    4
2015-01-05    5
Freq: D, dtype: int64

An interesting trick is to compute how much percentage wise has a timeseries valu changed, based on a shift.

In [36]:
percentage = (series_shifting / series_shifting.shift(1) - 1) * 100
percentage

2015-01-01           NaN
2015-01-02    100.000000
2015-01-03     50.000000
2015-01-04     33.333333
2015-01-05     25.000000
Freq: D, dtype: float64

Roll forward "rolls" a date to the end of the specific month.

Roll backward "rolls" a date to the end of the previous month.

In [37]:
offset = MonthEnd()
now = datetime(2015,10,5)
now

datetime.datetime(2015, 10, 5, 0, 0)

In [38]:
offset.rollforward(now)

Timestamp('2015-10-31 00:00:00')

In [39]:
offset.rollback(now)

Timestamp('2015-09-30 00:00:00')

Timezones can be tricky in real life, let's see how pandas handles them.

In [40]:
pytz.common_timezones[-10:]

['Pacific/Wake',
 'Pacific/Wallis',
 'US/Alaska',
 'US/Arizona',
 'US/Central',
 'US/Eastern',
 'US/Hawaii',
 'US/Mountain',
 'US/Pacific',
 'UTC']

In [41]:
dates = pd.date_range("2018-01-01", periods = 5)
ts = pd.Series(data = np.random.standard_normal(5), index = dates)
ts

2018-01-01   -0.095460
2018-01-02    0.462176
2018-01-03   -0.471172
2018-01-04    1.893374
2018-01-05    0.248551
Freq: D, dtype: float64

In [42]:
print(ts.index.tz)

None

In [43]:
ts_utc = ts.tz_localize("UTC")
ts_utc

2018-01-01 00:00:00+00:00   -0.095460
2018-01-02 00:00:00+00:00    0.462176
2018-01-03 00:00:00+00:00   -0.471172
2018-01-04 00:00:00+00:00    1.893374
2018-01-05 00:00:00+00:00    0.248551
Freq: D, dtype: float64

In [44]:
ts_utc.tz_convert("Pacific/Wake")

2018-01-01 12:00:00+12:00   -0.095460
2018-01-02 12:00:00+12:00    0.462176
2018-01-03 12:00:00+12:00   -0.471172
2018-01-04 12:00:00+12:00    1.893374
2018-01-05 12:00:00+12:00    0.248551
Freq: D, dtype: float64

In [45]:
period = pd.Period("2016", freq = "A-DEC")
period

Period('2016', 'A-DEC')

In [46]:
period + 5

Period('2021', 'A-DEC')

In [47]:
periods = pd.period_range("2001-06-17", "2003-09-12", freq = "M")
periods

PeriodIndex(['2001-06', '2001-07', '2001-08', '2001-09', '2001-10', '2001-11',
             '2001-12', '2002-01', '2002-02', '2002-03', '2002-04', '2002-05',
             '2002-06', '2002-07', '2002-08', '2002-09', '2002-10', '2002-11',
             '2002-12', '2003-01', '2003-02', '2003-03', '2003-04', '2003-05',
             '2003-06', '2003-07', '2003-08', '2003-09'],
            dtype='period[M]')

In [48]:
periods.asfreq("Y", how = "start")

PeriodIndex(['2001', '2001', '2001', '2001', '2001', '2001', '2001', '2002',
             '2002', '2002', '2002', '2002', '2002', '2002', '2002', '2002',
             '2002', '2002', '2002', '2003', '2003', '2003', '2003', '2003',
             '2003', '2003', '2003', '2003'],
            dtype='period[A-DEC]')

In [49]:
dates = pd.date_range("2000-01-01", periods=100)

ts = pd.Series(np.random.standard_normal(len(dates)), index=dates)

In [50]:
ts

2000-01-01    0.056821
2000-01-02    1.923601
2000-01-03   -0.012016
2000-01-04    0.095646
2000-01-05    1.007432
                ...
2000-04-05   -0.766003
2000-04-06   -2.268001
2000-04-07   -0.418499
2000-04-08   -0.569786
2000-04-09   -0.900276
Freq: D, Length: 100, dtype: float64

In [51]:
resampled = ts.resample("M").mean()
resampled

2000-01-31   -0.079690
2000-02-29   -0.175095
2000-03-31    0.245577
2000-04-30   -0.453932
Freq: M, dtype: float64

In [52]:
seconds = pd.date_range("2013-01-01", periods = 300, freq = "S")
ts_seconds = pd.Series(np.random.standard_normal(len(seconds)), index = seconds)
ts_seconds

2013-01-01 00:00:00   -0.746244
2013-01-01 00:00:01    0.318444
2013-01-01 00:00:02   -0.775917
2013-01-01 00:00:03    0.141427
2013-01-01 00:00:04   -1.210096
                         ...
2013-01-01 00:04:55    0.497748
2013-01-01 00:04:56   -1.181746
2013-01-01 00:04:57    0.432057
2013-01-01 00:04:58    1.192025
2013-01-01 00:04:59   -0.428179
Freq: S, Length: 300, dtype: float64

In [53]:
ts_seconds.resample("1min").sum()

2013-01-01 00:00:00   -5.477024
2013-01-01 00:01:00    2.579173
2013-01-01 00:02:00   -1.828660
2013-01-01 00:03:00   -8.402202
2013-01-01 00:04:00   -1.013940
Freq: T, dtype: float64

In [54]:
ts = pd.Series(np.random.permutation(np.arange(len(dates))), index = dates)
ts.resample("D").ohlc()

            open  high  low  close
2000-01-01    16    16   16     16
2000-01-02    54    54   54     54
2000-01-03     5     5    5      5
2000-01-04    92    92   92     92
2000-01-05    91    91   91     91
...          ...   ...  ...    ...
2000-04-05    29    29   29     29
2000-04-06    18    18   18     18
2000-04-07    17    17   17     17
2000-04-08    42    42   42     42
2000-04-09    38    38   38     38

[100 rows x 4 columns]

Sometimes we want to convert to a higher frequency, but without agggregation.

In [55]:
frame = pd.DataFrame(np.random.standard_normal((2, 4)),
                        index=pd.date_range("2000-01-01", periods=2,freq="W-WED"),
                        columns=["Colorado", "Texas", "New York", "Ohio"])

frame

            Colorado     Texas  New York      Ohio
2000-01-05 -0.218364  0.190373  0.625100  1.602575
2000-01-12  0.969576 -0.840024  0.614594 -0.035252

In [56]:
frame.resample("D").asfreq()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.218364  0.190373  0.625100  1.602575
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.969576 -0.840024  0.614594 -0.035252

Now we have to deal with filling the missing information.

In [59]:
frame.resample("D").ffill(limit = 3)

            Colorado     Texas  New York      Ohio
2000-01-05 -0.218364  0.190373  0.625100  1.602575
2000-01-06 -0.218364  0.190373  0.625100  1.602575
2000-01-07 -0.218364  0.190373  0.625100  1.602575
2000-01-08 -0.218364  0.190373  0.625100  1.602575
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.969576 -0.840024  0.614594 -0.035252

We can have multiple time series in one dataframe

In [64]:
times = pd.date_range("2017-05-20 00:00", freq="1min", periods=7)
df = pd.DataFrame({"time": times.repeat(3),
                    "key": np.tile(["a", "b", "c"], 7),
                     "value": np.arange(7 * 3.)})
df

                  time key  value
0  2017-05-20 00:00:00   a    0.0
1  2017-05-20 00:00:00   b    1.0
2  2017-05-20 00:00:00   c    2.0
3  2017-05-20 00:01:00   a    3.0
4  2017-05-20 00:01:00   b    4.0
5  2017-05-20 00:01:00   c    5.0
6  2017-05-20 00:02:00   a    6.0
7  2017-05-20 00:02:00   b    7.0
8  2017-05-20 00:02:00   c    8.0
9  2017-05-20 00:03:00   a    9.0
10 2017-05-20 00:03:00   b   10.0
11 2017-05-20 00:03:00   c   11.0
12 2017-05-20 00:04:00   a   12.0
13 2017-05-20 00:04:00   b   13.0
14 2017-05-20 00:04:00   c   14.0
15 2017-05-20 00:05:00   a   15.0
16 2017-05-20 00:05:00   b   16.0
17 2017-05-20 00:05:00   c   17.0
18 2017-05-20 00:06:00   a   18.0
19 2017-05-20 00:06:00   b   19.0
20 2017-05-20 00:06:00   c   20.0

Let's use a Grouper object, to group the time series by the key column.

In [65]:
time_key = pd.Grouper(freq="5min")